ul {
	padding-left: 0px;
}
ul li{
list-style-type:none;
}
a{
	color: #000000;
}
.mui-content {
background-color: #EBF0F5 !important;
}
.mui-bar {
	background-color: #fff;
}

.box{
	width: 100%;
	margin: auto;
}
.succeed_title{
	width: 80%;
	margin: 50px auto;
}
.succeed_title img{
	display: block;
	width: 26%;
	margin: auto;
}
.succeed_operation{
	width: 70%;
	margin: 50px auto;
}
.succeed_operation a{
	display: block;
	text-align: center;
	border:1px solid #218AE3; 
	padding: 7px 20px 5px 20px;
	border-radius:12px;
	color: #218AE3;
}
.succeed_operation a:nth-child(1){
	float: left;
}
.succeed_operation a:nth-child(2){
	float: right;
}
.opendi{
	background-color: #218AE3;
	color: #fff !important;
}
.succeed_title h4{
	width: 50%;
	margin: 30px auto;
	text-align: center;
	
}
.succeed_operation2{
	width: 70%;
	margin: 50px auto;
}
.succeed_operation2 a{
	display: block;
	text-align: center;
	border:1px solid #218AE3;
	padding: 7px 20px 5px 20px;
	border-radius:12px;
	color: #218AE3;
}