ul {
    padding-left: 0px;
}

ul li {
    list-style-type: none;
}

a {
    color: #000000;
}

.mui-bar {
    background-color: #fff;
}

#boodylie {

}

.mui-content {
    background: #F3F3F3 !important;
}

.box {
    width: 100%;
    margin: auto;
}

.img_background {
    display: block;
    background: url(../images/img_background.png) no-repeat;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 90%;
    height: 180px;
    margin: 20px auto;
    border: 3px solid #fff;
    border-radius: 10px;
}

.erweima_icon {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background: url(../images/erweima_icon.png) no-repeat;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: auto;
    position: relative;
    top: -44px
}

.yserk {
    width: 96%;
    margin: auto;
    padding-top: 6px;
}

.yserk span {
    display: block;
    width: 60%;
    margin: auto;
    color: #FFF;
    font-size: 12PX;
    text-align: center;

}

.yserk a {
    display: block;
    width: 100%;
    padding-top: 6px;
    color: #fff;
}

.djiawe {
    width: 96%;
    margin: auto;
    padding-top: 16px;
}

.djiawe a {
    display: block;
    width: 100%;
    padding-top: 6px;
    color: #fff;
}

.caozuo {
    width: 100%;
    height: 50px;
    background: #fff;
}

.caoz_div {
    width: 90%;
    margin: auto;
    padding-top: 16px;
    color: #6E6E6E;
}

.caoz_div span {
    float: right;
}

#nav {
    background: #F3F3F3 !important;
}

#nav div {
    width: 90%;
    margin: auto;
}

#nav div a {
    display: block;
    width: auto;
    text-align: center;
    font-size: 12px;
    color: #999999;

}

#nav div a span {
    color: #51B5ED;
}

.go_approve {
    width: 50%;
    margin: 50px auto;
}

.go_approve button {
    width: 90%;
    margin: auto;
    border-radius: 20px;
    color: #fff;
    background: #43BED3;
}
