<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.citysmart.ucenter.mybatis.mapper.TNavigationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.citysmart.ucenter.mybatis.model.TNavigation">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="code" property="code"/>
        <result column="icon" property="icon"/>
        <result column="skip_url" property="skipUrl"/>
        <result column="sort_index" property="sortIndex"/>
        <result column="dt_create" property="dtCreate"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>

</mapper>
