<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.citysmart.ucenter.mybatis.mapper.TSysUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.citysmart.ucenter.mybatis.model.TSysUser">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="realname" property="realname"/>
        <result column="nickname" property="nickname"/>
        <result column="email" property="email"/>
        <result column="mobile" property="mobile"/>
        <result column="address" property="address"/>
        <result column="gender" property="gender"/>
        <result column="status" property="status"/>
        <result column="dt_create" property="dtCreate"/>
        <result column="dt_modified" property="dtModified"/>
        <result column="login_count" property="loginCount"/>
        <result column="last_login_date" property="lastLoginDate"/>
        <result column="dept_id" property="deptId"/>
        <result column="avatar_url" property="avatarUrl"/>

    </resultMap>

    <select id="selectUserList" resultType="java.util.Map">

        SELECT u.* FROM `t_sys_user` u
        <if test="search != null">
            AND (u.username LIKE CONCAT('%',#{search,jdbcType=VARCHAR},'%')
            or u.realname LIKE CONCAT('%',#{search,jdbcType=VARCHAR},'%')
            or u.mobile LIKE CONCAT('%',#{search,jdbcType=VARCHAR},'%')
            or u.nickname LIKE CONCAT('%',#{search,jdbcType=VARCHAR},'%')
            )

        </if>
        <if test="deptId != null">
            AND
            u.dept_id=#{deptId}
        </if>
        ORDER BY u.`dt_create` DESC
    </select>
    <select id="selectUserByDeptIds" resultType="com.citysmart.ucenter.mybatis.model.TSysUser"
            parameterType="java.lang.String">
        SELECT u.`id`,u.`username` from `t_sys_user` u where 1=1 and u.`status`=0
        <if test="deptIds != null and deptIds != 0 ">
            AND u.`dept_id` in (#{deptIds,jdbcType=VARCHAR})
        </if>
    </select>

    <select id="selectUserRoleByUserId" resultType="java.lang.String">
       ${value}
    </select>


</mapper>
