<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.citysmart.ucenter.mybatis.mapper.TSysUserLogMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.citysmart.ucenter.mybatis.model.TSysUserLog">
		<id column="id" property="id" />
		<result column="user_name" property="userName" />
		<result column="login_type" property="loginType" />
		<result column="login_ip" property="loginIp" />
		<result column="is_login_ok" property="isLoginOk" />
		<result column="error_msg" property="errorMsg" />
		<result column="dt_create" property="dtCreate" />
		<result column="is_deleted" property="isDeleted" />
	</resultMap>

</mapper>
