<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.citysmart.ucenter.mybatis.mapper.SysCityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.citysmart.ucenter.mybatis.model.SysCity">
        <result column="id" property="id"/>
        <result column="pid" property="pid"/>
        <result column="name" property="name"/>
        <result column="code" property="code"/>
        <result column="enabled" property="enabled"/>
        <result column="sort_index" property="sortIndex"/>
        <result column="abbreviation" property="abbreviation"/>

    </resultMap>


    <select id="queryBySql" resultType="com.citysmart.ucenter.mybatis.model.SysCity">
        ${value}
    </select>

    <select id="getcityidByCunitId" resultType="java.lang.Integer">
        SELECT
        city.id as id
        FROM
        t_dj_org_unit unit
        LEFT JOIN t_dj_org org ON unit.oid = org.id
        LEFT JOIN sys_city city ON city.code = org.code
        WHERE
        unit.id=#{id}

    </select>

</mapper>
