<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.citysmart.ucenter.mybatis.mapper.TAppUserDeviceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.citysmart.ucenter.mybatis.model.TAppUserDevice">
    <result column="id" property="id" />
        <result column="version" property="version" />
        <result column="pid" property="pid" />
        <result column="cid" property="cid" />
        <result column="osv" property="osv" />
        <result column="osm" property="osm" />
        <result column="gid" property="gid" />
        <result column="dt_create" property="dtCreate" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>

    <!-- 关联APP用户信息查询 -->
    <select id="selectPageList" resultType="com.citysmart.ucenter.mybatis.entity.vo.DeviceVO">
        ${value} order by a.dt_create desc
    </select>

</mapper>
