<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.citysmart.ucenter.mybatis.mapper.commodity.TGoodsGradeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.citysmart.ucenter.mybatis.model.commodity.TGoodsGrade">
        <result column="id" property="id"/>
        <result column="goods_id" property="goodsId"/>
        <result column="user_id" property="userId"/>
        <result column="grade_user_id" property="gradeUserId"/>
        <result column="grade_type" property="gradeType"/>
        <result column="explains" property="explains"/>
        <result column="sort_index" property="sortIndex"/>
        <result column="dt_create" property="dtCreate"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="files" property="files"/>

    </resultMap>


    <select id="getGradeListByGoodsId" resultType="com.citysmart.ucenter.mybatis.entity.vo.GoodsGradeVo">
        SELECT
	g.id AS id,
	u.nickname AS userName,
	u.avatar_url AS userAvatar,
	g.explains as explains,
	g.files AS files,
	g.dt_create AS dtCreate,
	g.score AS score
    FROM
        t_goods_grade g
    LEFT JOIN t_lj_user_info u ON u.user_id = g.user_id
        WHERE
        g.goods_id=#{goodsId,jdbcType=VARCHAR}
    </select>

    <select id="getUserScore" resultType="com.citysmart.ucenter.mybatis.entity.vo.UserScoreVO">
        SELECT
            u.id as id,
            avg(g.score) as score,
            u.username as username
        FROM
            t_goods_grade g
           LEFT JOIN t_lj_user u ON u.id = g.user_id
        WHERE
            g.user_id = #{userId}
    </select>
</mapper>
