<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.citysmart.ucenter.mybatis.mapper.commodity.TGoodsCollectMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.citysmart.ucenter.mybatis.model.commodity.TGoodsCollect">
        <result column="id" property="id"/>
        <result column="goods_id" property="goodsId"/>
        <result column="user_id" property="userId"/>
        <result column="dt_create" property="dtCreate"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>


    <select id="selectListByUser" resultType="com.citysmart.ucenter.mybatis.entity.vo.goodsCollectVo">
        SELECT
            c.id AS id,
            g.id AS goodsId,
            g.name AS goodsName,
            g.Images AS goodsImages,
            g.location AS location,
            g.status as status,
	        g.is_deleted as isDeleted
            FROM
            t_goods_collect c
            LEFT JOIN t_goods g ON g.id = c.goods_id
            WHERE
            c.user_id = #{userId,jdbcType=VARCHAR}
            and c.is_deleted=0
            ORDER BY c.dt_create DESC
    </select>


</mapper>
