ul {
    padding-left: 0px;
}

ul li {
    list-style-type: none;
}

a {
    color: #000000;
}

body {
    background-color: #FFD5C5;
}

.mui-content {
    background-color: #FFD5C5;
}

.img_ino {
    width: 100%;
}

img {
    width: 100%;
}

.box_ingdex {
    width: 80%;
    height: 60px;
    margin: 0 10% 0 10%;
}

.box_ingdex a {
    display: block;
    width: 90%;
    margin: auto;
    text-align: center;
    background-color: #FFD21C;
    border-radius: 20px;
    padding: 10px 0 10px 0;
    color: #C15810;
    font-weight: 900;
    box-shadow: 0px 4px 0px 0px #FFA000;

}

.mui-toast-container {
    bottom: 50% !important;
}
