ul {
    padding-left: 0px;
}

ul li {
    list-style-type: none;
}

a {
    color: #000000;
}

.mui-bar {
    background-color: #fff;
}

#boodylie {

}

.mui-content {
    background: #F3F3F3 !important;
}

.box {
    width: 100%;
    margin: auto;
}

.yfnwoe {
    display: block;
    width: 100%;
    margin: auto;
    /*padding-top: 160px;*/
}

.ykse {
    width: 100%;
    /*background-color: rgba(66, 38, 38, 0.2);*/
    padding: 0px 8px 20px 8px;
}

/*.img_uoe {*/
/*height: 280px;*/
/*background: url(../images/qsgk_bg1.png) no-repeat;*/
/*background-repeat: no-repeat;*/
/*background-size: 100% 100%;*/
/*display: block;*/
/*}*/

.yfnwoe a {
    display: inline-table;
    padding: 2px 10px 2px 10px;
    margin-top: 10px;
    border: 1px solid #53B19F;
    color: #000;
    border-radius: 5px;
    background-color: #fff;
}

.buwe {
    background-color: #53B19F !important;
    color: #fff !important;
}

.info_list {
    border-top: 5px solid #EBF0F5;
    width: 100%;
    margin: auto;
    /*margin-top: 190px;*/

}

.info_list li {
    padding: 16px 0 16px 0;
}

.info_list ul {
    margin-top: -30px;
}

.info_list ul li:not(:last-of-type) {
    border-bottom: 1px solid #E4E4E4;
}

.info_list a {
    display: block;
    width: 96%;
    margin: auto;
}

.info_list a img {
    width: 100%;
}

.ydkaw {
    position: fixed;
    z-index: 999;
    right: 10px;
    top: 500px;
    width: 50px;
    height: 50px;
    background-color: #007DDB;
    text-align: center;
    border-radius: 25px;
    padding-top: 12px;
    color: #fff;
    position: fixed;
    background-color: rgba(66, 38, 38, 0.4);
}

.text_ {
    text-align: justify;
}

