ul {
    padding-left: 0px;
}

ul li {
    list-style-type: none;
}

a {
    color: #000000;
}

.mui-bar {
    background-color: #fff;
}

.mui-content {
    background-color: #FFF !important;
}

.box {
    width: 100%;
    margin: auto;
}

.fuser_ul {
    width: 100%;

}

.fuser_ul li a {
    padding: 10px 0 10px 0;
    display: block;
    width: 96%;
    margin: auto;

}

.fuser_ul li a b {
    width: 76%;
    float: left;
}

.fuser_ul li a span {
    width: 14%;
    float: right;
    font-size: 14px;
    display: block;
    height: 100%;
}

.img_vessel {
    width: 100px;
    height: 100px;
    float: left;
    border-radius: 5px;
}

.img_vessel img {
    width: 100%;
}

.fuser_ul li:not(:last-of-type) {
    border-bottom: 1px solid #E4E4E4;
}

.fuser_ul li b {
    padding: 5px 0 0 10px;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.fuser_ul li p {
    padding: 5px 0 0 10px;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #949494;
    letter-spacing: 3px;

}

.fuser_ul li text {
    display: inline-block;
    padding: 10px 0 0 10px;
}

.fuser_ul li span {
    display: inline-block;
    padding: 10px 0 0 10px;
    color: #949494;
}

.saixuan {
    width: 90%;
    margin: auto;
    height: 40px;
    border-bottom: 1px solid #E4E4E4;
    padding-top: 10px;

}

.saixuan a {
    display: inline-block;
    float: right;
}

.saixuan span {
    padding-left: 10px;
    font-size: 16px;
}

.fyuaiwre {
    width: 90%;
    margin: auto;
    padding: 20px 0 20px 0;
}

.fyuaiwre span {
    display: inline-block;
    /*width: 26%;*/
    height: 25px;
    margin: 5px auto 0 10px;
    font-size: 12px;
    padding-bottom: 20px;
    text-align: center;
    border: 1px solid #E3E3E3;
    padding: 2px 8px 2px 8px;
}

.hfase {
    width: 100%;
    margin: auto;
}

.hfase button {
    width: 50%;
    float: left;
    border: 1px solid #E3E3E3;
    border-radius: 0px;
}

.bu1 {
    color: #0062CC;
}

.bu2 {
    color: #fff;
    background-color: #0062CC;
}
