ul {
    padding-left: 0px;
}

ul li {
    list-style-type: none;
}

a {
    color: #000000;
}

.mui-content {
    background-color: #fff !important;
}

.mui-bar {
    background-color: #fff;
}

.box {
    width: 100%;
    margin: auto;
}

.search_info {
    width: 94%;
    margin: auto;
    background-color: #fff;
    border-bottom: 1px solid #D9DDE2;
    padding: 10px 0 10px 0;

}

.search_info input {
    padding: 10px 0 10px 36px;
    width: 80%;
    margin: auto;
    background-color: #EBF0F5;
    height: 38px;
    border-radius: 4px;
    border: 1px solid #EBF0F5;
    float: left;
}

.search_info span {
    position: relative;
    left: -78%;
    top: 8px;
}

.jhgsja {
    width: 100%;
    border-top: 16px solid #EBF0F5;
}

.jhgsja ul {
    margin-top: -1px;
}

.jhgsja ul li {
    padding: 16px 0 16px 0;
}

.jhgsja ul li:not(:last-of-type) {
    border-bottom: 1px solid #E4E4E4;
}

.jhgsja ul li div {
    width: 90%;
    margin: auto;
}

.jhgsja ul li div span {
    float: right;
}

.search_info button {
    width: 14%;
    margin: -20px 0 0 16px;
    text-align: center;
    background-color: #80BCEB;
    color: #fff;
}

.zhanwu {
    margin-top: 150px;
}

.zhanwu img {
    width: 100%;
}


