
body{
	background-image: url(../../download/images/bg1@3x.png) !important;
	background-repeat: no-repeat;
	background-size: 100% auto;
	position: relative;
	background-color: #f8fcff;
	width: 100%;
	height: 100%;
	margin: 0;
}
html{
	height: 100%;
}
.down_box{
	position: absolute;
	left: 50%;
	top: 62%;
	margin-left:-8.75rem ;

}


.adro_but{
	height:2.75rem;
	width: 17.5rem;
	margin: 0 auto;
}
p{
	font-size: 0.5rem;text-align: center;
	line-height: 0.5rem;
	color:#6f7880;
}
.adro_but img{
	width: 100%;
	height: 100%;
}

.iph_but{
	height:2.75rem;
	width: 17.5rem;
	margin: 1.25rem auto;
}
.iph_but img{
	width: 100%;
	height: 100%;
}
.maskDiv{
	display: none;
	width: 100%;
	height: 100%;
	z-index: 9999999;
	background: rgba(0,0,0,0.5);
}
.maskDiv img{
	display: none;
	float: right;
	margin-right: 10px;
}