<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.citysmart.ucenter.mybatis.mapper.oauth2.OauthLogMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, client_id, client_provider, gid, `module`, method, message, params, result, from_ip, is_success, dt_create, is_deleted
    </sql>

</mapper>
