<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.citysmart.ucenter.mybatis.mapper.app.TLjUserSecurityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.citysmart.ucenter.mybatis.model.app.TLjUserSecurity">
        <id column="user_id" property="userId"/>
        <result column="password" property="password"/>
        <result column="salt" property="salt"/>
    </resultMap>

</mapper>
